# vim: set ft=sh:

function server () {
    firefox http://localhost:${1} && python2 -m SimpleHTTPServer $1
}

# Inspect docker container helper
function di () {
    if [[ $1 = '' ]] || [[ $2 = '' ]]
    then
        echo "Missing an argument"
    elif [[ $1 = '--net' ]] || [[ $1 = '-n' ]]
    then
        docker inspect -f "{{ json .NetworkSettings }}" $2 | python -mjson.tool      
    elif [[ $1 = '--vol' ]] || [[ $1 = '-v' ]]
    then
        docker inspect -f "{{ json .Volumes }}" $2 | python -mjson.tool      
    else
        docker inspect -f "{{ json $1 }}" $2 | python -mjson.tool      
    fi
}

function da () {
    docker start $1 && docker attach $1
}

function newbox () {
    docker run --name $1 \
               --volumes-from=volume_container -it \
}

rtr () {
    re='^[0-9]+$'
    m="10.1.39.80"
    b="10.1.0.167"
    ch="10.1.56.40"
    if [[ "$1" = "-b" ]]
    then
        telnet "$b" $(($2+2000))
    elif [[ "$1" = "-c" ]]
    then
        telnet "$ch" $(($2+2064))
    elif [[ "$1" = "-m" ]]
    then
        telnet "$m" $(($2+2000))
    elif [[ "$1" =~ $re ]]
    then
        telnet "$b" $(($1+2000))
    else
        echo "Not supported"
    fi
}
